[submodule ".themes/slash"]
	path = .themes/slash
	url = git://github.com/tommy351/Octopress-Theme-Slash.git
[submodule ".themes/whitespace"]
	path = .themes/whitespace
	url = git://github.com/lucaslew/whitespace.git
