#comment{
	padding: 30px 0;
	@include border-shadow();
	h2.title{
		font-size: 25px;
		font-weight: 300;
		line-height: 35px;
		margin-bottom: 20px;
	}
}

#content .webmention-container {
    @include border-shadow-reverse();
    margin-bottom: 20px;
    .webmention-mention {
        @include border-shadow();
        padding: 4px 0 4px 60px;
        position: relative;
        min-height: 56px;
        .webmention-author {
            font-weight: bold;
            img {
                border: none;
                border-radius: 3px;
                width: 48px;
                height: 48px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
        .webmention-name {
            font-style: italic;
        }
        .webmention-author a:after {
            display: inline-block;
            text-indent: -5000em;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            position: absolute;
            top: 40px;
            left: 40px;
        }
        .webmention-author a[href^="https://www.facebook.com"]:after {
            content: "via Facebook";
            background: url('/images/social/facebook.png') center/10px no-repeat #3b5998;
        }
        .webmention-author a[href^="https://twitter.com"]:after {
            content: "via Twitter";
            background: url('/images/social/twitter.png') center/10px no-repeat #55cff8;
        }
    }
    .webmention-facepile {
        @include border-shadow();
        padding: 4px 0;
    }
    .webmention-facepile > li {
        display: inline-block;
        position: relative;
        margin: 0 10px 10px 0;
    }
    .webmention-interaction-presentation:after {
        display: block;
        position: absolute;
        bottom: -8px;
        right: -8px;
        padding: 4px;
        width: 1em;
        height: 1em;

        font-size: 12px;
        line-height: 1;
        text-align: center;

        color: #000;
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 50px;
    }
    .webmention-interaction-like .webmention-interaction-presentation:after {content: "♥"}
    .webmention-interaction-repost .webmention-interaction-presentation:after {content: "♺"}
    .webmention-interaction-presentation > span {
        display: block;
        text-indent: -5000em;
        position: relative;
        overflow: hidden;
        width: 3em;
        height: 3em;
        border-radius: 3px;
        background: #eee;
        border: 1px solid #ccc;
    }
    .webmention-interaction-presentation > span > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        border: none;
    }
}
