.post{
	h2.title, .entry-content{
		margin-left: 200px;
		@media screen and (max-width: 800px){
			margin-left: 0;
		}
	}
	.meta{
		position: absolute;
		top: 85px;
		line-height: 2;
		font-size: 0.9em;
		color: $color-gray02;
		width: 170px;
		@media screen and (max-width: 800px){
			margin-top: 15px;
			position: static;
			width: auto;
		}
		a{
			@include link-colors($color-gray02, $color-gray01);
			@include transition(0.3s);
		}
		.date, .tags, .comments, .permalink{
			padding-left: 30px;
			position: relative;
			&:before{
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
			@media screen and (max-width: 800px){
				@include inline-block;
				margin-right: 30px;
			}
		}
		.date:before{content: "\f073";}
		.tags:before{content: "\f02c";}
		.comments:before{content: "\f075";}
                .permalink:before{content: "\f0c1";}
	}
}
