body {
  #content {
    img {
      vertical-align: top;
      border: 2px solid #ddd;
      margin: 4px;
    }
    > article {
      hr {
        margin: 2em;
        height: 0;
        border: none;
        border-top: 1px solid #ddd;
      }

    }
  }
}
